<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2016年10月，实习，进入第一家公司。</p>
        <p>2017年06月，大学毕业，正式进入社会</p>
        <p>2018年10月，进入第二家公司</p>
        <p>2019年12月31日，梦中惊醒反思过往三年，忽感浪费时光蹉跎岁月。</p>
        <p>2020年04月，开始搭建属于自己的博客，只为督促自己及时总结反思。</p>
        <p>我希望自己拥有平凡但不平庸的一生。</p>
        <p>我希望能为社会、他人做点事情，通过这种方式证明我确实“来过”</p>
        <p>我是热爱阳光，喜欢读书，喜欢独处</p>
		<p>关于学习、工作、生活我有太多疑问，但我坚信时间可以带我找到答案</p>
		

        <p><strong>About blog</strong></p>

        <p>About页是我的第一篇文章，很感谢“纯洁的微笑”提供的blog框架，在此后的很长一段时间我会以此框架来构建我自己的微博</p>
		<p>对于微博的内容或架构等，如果因借鉴而存在抄袭问题或侵权问题烦请先行告知，我会及时处理。虽然我是一个法盲，但我会时刻注意。<p>
		<p>在这个blog中主要记录的是嵌入式相关的知识，如：Linux、网络协议、网络编程、python、数据结构与算法<p>


       <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
        </ul>

       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放</p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>